<p><strong>Contact Name:</strong> <%= @client.contact_name %> </p>
<p><strong>Contact Email:</strong> <%= @client.contact_email %> </p>
<p><strong>Contact Number:</strong> <%= @client.contact_number %> </p>
<p><strong>Hourly Rate:</strong> <%= @client.rate %> </p>
