@import "materialize";

body {
  background-color: #eeeeee;
  height: 100%;
}

html {
  height: 100%;
  }

.card, .collection, .collection-item, form {
  padding: 12px;
}

#invoice {
  height: 900px;
}
