@import "materialize";

body {
  background-color: #eeeeee;
  height: 100%;
}

html {
  height: 100%;
  }

.card, .collection, .collection-item, form {
  padding: 12px;
}

#invoice {
  height: 900px;
}

.nav-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
  color: black;
}

input[type=text]:focus:not([readonly]) + label {
  color: black;
}

input[type=date]:focus:not([readonly]){
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
  color: black;
}

input[type=date]:focus:not([readonly]) + label {
  color: black;
}

input[type=number]:focus:not([readonly]){
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
  color: black;
}

input[type=number]:focus:not([readonly]) + label {
  color: black;
}
